@import "styles/resources";

.time-entry-container {
  flex: 1 0 auto;
  @include flex(align-center justify-start);

  .project {
    flex: 0 0 150px;
    margin-right: 2em;
  }

  .description {
    flex: 0 0 400px;
  }

  .day {
    flex: 0 0 70px;
    padding-right: 1em;
    text-align: right;
  }

  .timer {
    flex: 1 0 auto;
  }
}
